<script type="text/javascript">
  $(function () {
    /*
          Populate Dropdowns/Fetch Data
        */
    $("#chart2").load("../featurePlot.html");

    setTimeout(() => {
      //CSV Files
      fetch("http://127.0.0.1:5000/datafiles")
        .then((response) => response.json())
        .then((data_files) => {
          console.log(data_files);
          for (i = 0; i < data_files.length; i++) {
            const split = data_files[i].split("/");
            file_name = split[split.length - 1];
            $("#file-select").append(
              $("<option>", {
                value: data_files[i],
                text: file_name,
              })
            );
          }
        });
    }, 1000);
  });
</script>
<div>Feature</div>
<div>
  <select
    id="feature-select"
    class="form-select"
    aria-label="Default select example"
  >
    <option>None</option>
  </select>
</div>
<div>Time Step</div>
<div>
  <input
    type="number"
    class="form-control"
    id="time-step"
    aria-describedby="timeStepIn"
  />
</div>
