<!-- Live Plot Component (Quick Collect)-->
<!-- Author: Evan Larkin-->
<!-- Date: March 2021-->
<script type="text/javascript">
  // The number of data points on the plot at a time
  const PLOT_POINTS = 1000;
  // Data from the collection 8 x N
  var data = [[], [], [], [], [], [], [], []];
  // Labels required for the plot (x-axis). Equal to the data point number of the recording.
  var labels = [];
  // Data that will be used to calculate the feature. Reset every interval
  var featuredata = [];
  // Time (ms) between data fetches and plot update
  var FRAME_SIZE = 100;

  // Configuration of the chart (ChartJS: https://www.chartjs.org/)
  var chartConfig = {
    type: "line",
    data: {
      labels: new Array(500).fill(0),
      datasets: [
        {
          data: [],
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "black",
          fill: false,
        },
        {
          data: [],
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "red",
          fill: false,
        },
        {
          data: [],
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "blue",
          fill: false,
        },
        {
          data: [],
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "orange",
          fill: false,
        },
        {
          data: [],
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "purple",
          fill: false,
        },
        {
          data: [],
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "cyan",
          fill: false,
        },
        {
          data: [],
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "green",
          fill: false,
        },
        {
          data: [],
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "pink",
          fill: false,
        },
      ],
    },
    options: {
      animation: {
        duration: 0, // general animation time
      },
      elements: {
        line: {
          tension: 0, // disables bezier curves
        },
      },
      hover: {
        animationDuration: 0, // duration of animations when hovering an item
      },
      legend: {
        display: false,
      },
      tooltip: {
        enabled: false,
      },
      layout: {
        padding: {
          left: 0,
          right: 10,
          top: 15,
          bottom: 0,
        },
      },
      responsiveAnimationDuration: 0, // animation duration after a resize
      scales: {
        xAxes: [
          {
            display: false,
          },
        ],
        yAxes: [
          {
            display: true,
            scaleLabel: {
              display: true,
            },
            ticks: {
              suggestedMin: -0.08,
              suggestedMax: 0.08,
            },
          },
        ],
      },
    },
  };
  // Apply charts to all the HTML below
  ctx1 = document.getElementById("liveChart1");
  var myLineChart1 = new Chart(ctx1, chartConfig);

  /* 
    On data collection start
  */
  function onStart(collect) {
    // Which channels are active (selected by the user)
    let channels = 0;
    let channelsActive = new Array(8).fill(false);

    // Determine the reader selected
    let reader = $("#daq-select").val();
    console.log($("#input-type-daq").is(":checked"));
    if ($("#input-type-daq").is(":checked")) reader = $("#daq-select").val();
    if ($("#input-type-file").is(":checked")) reader = "file";

    /* 
      This function is an accurate interval function, accounting for drift
      Args: workFunc(function): a function that is called on every interval
            interval(int): interval time (ms)
            errorFunc(function): called when an error occurs during execution
    */
    function AdjustingInterval(workFunc, interval, errorFunc) {
      var that = this;
      var expected, timeout;
      this.interval = interval;

      this.start = function () {
        expected = Date.now() + this.interval;
        timeout = setTimeout(step, this.interval);
      };

      this.stop = function () {
        clearTimeout(timeout);
      };

      function step() {
        var drift = Date.now() - expected;
        if (drift > that.interval) {
          // You could have some default stuff here too...
          if (errorFunc) errorFunc();
        }
        workFunc();
        expected += that.interval;
        timeout = setTimeout(step, Math.max(0, that.interval - drift));
      }
    }

    var ticker = null;

    // On collection stop
    $("#stopBtn").click(function () {
      if (ticker != null) {
        fetch(`http://127.0.0.1:5000/stop/${reader}`)
          .then((response) => response.json)
          .then((result) => {
            if (!result) showToast("Error stopping reader");
          });
        ticker.stop();
      }
    });

    // Do work initialization
    var i = 0;
    var frame = 0;
    const featureFrame = ($("#time-step").val() * 1000) / FRAME_SIZE;

    /* 
      This function is passed to the interval function, ran every x ms
    */
    function doWork() {
      fetch(`http://127.0.0.1:5000/read/${reader}`)
        .then((response) => response.json())
        .then((result) => {
          // Check the channel selection
          $('[id^="qc-channel-"]').each(function (i, el) {
            if ($(this).attr("active") == "true") {
              channels++;
              channelsActive[i] = true;
              myLineChart1.data.datasets[i].hidden = false;
            } else {
              channelsActive[i] = false;
              myLineChart1.data.datasets[i].hidden = true;
            }
          });

          // If recording, save the data
          if(collect){
            for (var j = 0; j <= 7; j++) {
                appdata[j] = appdata[j].concat(result[j]);
              }
          }

          // Time to log the selected feature
          if (frame % featureFrame == 0) {
            onNewFeatureData(featuredata);
            featuredata = [];
          }

          //Format the data for plotting
          try {
            if (data.length && result[0].length) {
              for (var n = 0; n < result[0].length; n++) {
                labels.push(i);
                if (labels.length > PLOT_POINTS) {
                  labels.shift();
                }
                channelsActive.map((channelActive, channelInd) => {
                  if (channelActive) {
                    if (data[channelInd].length > PLOT_POINTS) {
                      data[channelInd].shift();
                    }

                    data[channelInd].push({
                      x: i,
                      y: result[channelInd][n] + 2 * channelInd,
                    });
                    featuredata.push(result[channelInd][n]);
                  }
                });
                i++;
              }
            }
          } catch (e) {
            console.log(e);
            console.log(result);
            console.log(data);
          }

          myLineChart1.data.datasets[0].data = data[0];
          myLineChart1.data.datasets[1].data = data[1];
          myLineChart1.data.datasets[2].data = data[2];
          myLineChart1.data.datasets[3].data = data[3];
          myLineChart1.data.datasets[4].data = data[4];
          myLineChart1.data.datasets[5].data = data[5];
          myLineChart1.data.datasets[6].data = data[6];
          myLineChart1.data.datasets[7].data = data[7];
          myLineChart1.data.labels = labels;
          myLineChart1.update();

          frame++;
        })
        .catch((e) => {
          console.log("ERRO", e);
          showToast("Read Error");
          ticker.stop();
        });
    }

    // Start the reader to prepare for collection
    fetch(`http://127.0.0.1:5000/start/${reader}`)
      .then((response) => response.json())
      .then((result) => {
        console.log("start CALL", result);
        if (result == false) showToast("Error Starting Reader");
        else {
          ticker = new AdjustingInterval(doWork, FRAME_SIZE);
          ticker.start();
        }
      });
  }
</script>

<canvas id="liveChart1"></canvas>
