<script type="text/javascript">
  function onStart() {
    // This function is an accurate interval function
    function AdjustingInterval(workFunc, interval, errorFunc) {
      var that = this;
      var expected, timeout;
      this.interval = interval;

      this.start = function () {
        expected = Date.now() + this.interval;
        timeout = setTimeout(step, this.interval);
      };

      this.stop = function () {
        clearTimeout(timeout);
      };

      function step() {
        var drift = Date.now() - expected;
        if (drift > that.interval) {
          // You could have some default stuff here too...
          if (errorFunc) errorFunc();
        }
        workFunc();
        expected += that.interval;
        timeout = setTimeout(step, Math.max(0, that.interval - drift));
      }
    }
    var ticker = null;
    $("#stopBtn").click(function () {
      console.log("stop");
      if (ticker != null) {
        ticker.stop();
      }
    });

    const el = document.getElementById("chart");
    let csvdata = [];
    const chart = new TimeChart(el, {
      // debugWebGL: true,
      // forceWebGL1: true,
      series: [
        {
          name: "Data",
          data: csvdata,
        },
      ],
      xRange: { min: 0, max: 1000 },
      yRange: { min: -0.2, max: 0.2 },
      realTime: true,
      paddingLeft: 0,
    });

    if ($("#input-type-live").is(":checked")) {
      setInterval(async function () {
        fetch("http://127.0.0.1:5000/readarr")
          .then((response) => response.json())
          .then((result) => {
            myLineChart.data.datasets.forEach((dataset) => {
              dataset.data.shift();
              dataset.data.push(result);
            });
            myLineChart.update();
          });
      }, 100);
    } else if ($("#input-type-file").is(":checked")) {
      var frame = 0;
      var FRAME_SIZE = 100;
      var ms = 0;
      const file = $("#file-select option:selected").text();
      fetch("http://127.0.0.1:5000/readcsv/" + file)
        .then((response) => response.json())
        .then((result) => {
          var startTime = performance.now();
          function doWork() {
            const newData = result.splice(0, FRAME_SIZE);
            const newDataFormatted = newData.map((d, i) => {
              //if (frame * FRAME_SIZE > 1000) csvdata.shift();
              csvdata.push({ x: i + frame * FRAME_SIZE, y: d });
            });
            chart.update();
            frame++;
          }
          ticker = new AdjustingInterval(doWork, FRAME_SIZE);
          ticker.start();
        });
    }
  }
  $(document).ready(function () {
    /*  const el = document.getElementById("chart");
    const dataSin = [];
    const chart = new TimeChart(el, {
      // debugWebGL: true,
      // forceWebGL1: true,
      baseTime: Date.now() - performance.now(),
      series: [
        {
          name: "Data",
          data: dataSin,
        },
      ],
      xRange: { min: 0, max: 20 * 1000 },
      realTime: true,
      zoom: {
        x: {
          autoRange: true,
          minDomainExtent: 50,
        },
        y: {
          autoRange: true,
          minDomainExtent: 1,
        },
      },
    }); */
  });
</script>
<!--end polot-->

<div id="chart" width="200" height="200" backgroundColor="red"></div>
