<script type="text/javascript">
  var csvdata = [];
  var labels = [];
  var featuredata = [];
  ctx = document.getElementById("liveChart");
  var myLineChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: new Array(500).fill(0),
      datasets: [
        {
          data: csvdata,
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "black",
          fill: false,
        },
      ],
    },
    options: {
      animation: {
        duration: 0, // general animation time
      },
      elements: {
        line: {
          tension: 0, // disables bezier curves
        },
      },
      hover: {
        animationDuration: 0, // duration of animations when hovering an item
      },
      legend: {
        display: false,
      },
      tooltip: {
        enabled: false,
      },
      layout: {
        padding: {
          left: 0,
          right: 10,
          top: 50,
          bottom: 0,
        },
      },
      responsiveAnimationDuration: 0, // animation duration after a resize
      scales: {
        xAxes: [
          {
            display: false,
          },
        ],
        yAxes: [
          {
            display: true,
            scaleLabel: {
              display: true,
            },
            ticks: {
              suggestedMin: -0.08,
              suggestedMax: 0.08,
            },
          },
        ],
      },
    },
  });

  function onStart() {
    // This function is an accurate interval function
    function AdjustingInterval(workFunc, interval, errorFunc) {
      var that = this;
      var expected, timeout;
      this.interval = interval;

      this.start = function () {
        expected = Date.now() + this.interval;
        timeout = setTimeout(step, this.interval);
      };

      this.stop = function () {
        clearTimeout(timeout);
      };

      function step() {
        var drift = Date.now() - expected;
        if (drift > that.interval) {
          // You could have some default stuff here too...
          if (errorFunc) errorFunc();
        }
        workFunc();
        expected += that.interval;
        timeout = setTimeout(step, Math.max(0, that.interval - drift));
      }
    }

    var ticker = null;
    $("#stopBtn").click(function () {
      if (ticker != null) {
        ticker.stop();
      }
    });

    if ($("#input-type-live").is(":checked")) {
      setInterval(async function () {
        fetch("http://127.0.0.1:5000/readarr")
          .then((response) => response.json())
          .then((result) => {
            myLineChart.data.datasets.forEach((dataset) => {
              dataset.data.shift();
              dataset.data.push(result);
            });
            myLineChart.update();
          });
      }, 100);
    } else if ($("#input-type-file").is(":checked")) {
      var frame = 0;
      var FRAME_SIZE = 100;
      var ms = 0;
      const file = $("#file-select option:selected").text();
      const featureFrame = ($("#time-step").val() * 1000) / FRAME_SIZE;
      fetch("http://127.0.0.1:5000/readcsv/" + file)
        .then((response) => response.json())
        .then((result) => {
          var startTime = performance.now();
          function doWork() {
            if (csvdata.length > 400) {
              csvdata.splice(0, FRAME_SIZE);
              labels.splice(0, FRAME_SIZE);
            }
            //Feature

            if (frame % featureFrame == 0) {
              onNewFeatureData(featuredata);
              featuredata = [];
            }
            const newData = result.splice(0, FRAME_SIZE);
            const newDataFormatted = newData.map((d, i) => {
              //if (frame * FRAME_SIZE > 1000) csvdata.shift();
              csvdata.push({ x: i + frame * FRAME_SIZE, y: d });
              labels.push(i + frame * FRAME_SIZE);
            });
            //csvdata = csvdata.concat(newData);
            myLineChart.data.datasets[0].data = csvdata;
            myLineChart.data.labels = labels;
            myLineChart.update();
            featuredata = featuredata.concat(newData);

            frame++;
          }
          ticker = new AdjustingInterval(doWork, FRAME_SIZE);
          ticker.start();
        });
    }
  }
</script>
<!--end polot-->

<canvas id="liveChart"></canvas>
