<script type='text/javascript'>
$(function () {
      /*
            Populate Dropdowns/Fetch Data
      */

      setTimeout(() => {
        //CSV Files
        fetch("http://127.0.0.1:5000/datafiles")
          .then((response) => response.json())
          .then((data_files) => {
            for (i = 0; i < data_files.length; i++) {
              const split = data_files[i].split("/");
              file_name = split[split.length - 1];
              $("#file-select").append(
                $("<option>", {
                  value: data_files[i],
                  text: file_name,
                })
              );
            }
          });

          //input types
          fetch("http://127.0.0.1:5000/getreaders")
          .then((response) => response.json())
          .then((readers) => {
            for (i = 0; i < readers.length; i++) {
              $("#daq-select").append(
                $("<option>", {
                  value: readers[i].key,
                  text: readers[i].name,
                })
              );
            }
          });

      }, 1000);
    });


    function onFileChange() {
    // Set file to inital selection state
    const file = $('#file-select :selected').text().split(".")[0];
    console.log("FILE oc", file)
    fetch(`http://127.0.0.1:5000/setfileinput/${file}`)
  }

function onFileSelect() {
    //set radio to file and enable the file selector
    $("#file-select").attr('style', 'display:inline')
    $("#daq-select").attr('style', 'display:none')
    $("#input-type-daq").attr("checked", false);
    // Set file to inital selection state
    const file = $('#file-select :selected').text().split(".")[0];
    console.log("FILE fs", file)
    fetch(`http://127.0.0.1:5000/setfileinput/${file}`)
  }

  function onDAQSelect() {
    //set radio to daq and show daq selection
    $("#daq-select").attr('style', 'display:inline')
    $("#file-select").attr('style', 'display:none')
    $("#input-type-file").attr("checked", false);
  }
  function onRandomSelect() {
    //set radio to live and disable the file selector
    $("#file-select").attr("disabled", true);
    $("#input-type-file").attr("checked", false);
    $("#input-type-random").attr("checked", true);
  }
</script>

<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefault"
    id="input-type-daq"
    checked
    onclick="onDAQSelect()"
  />
  <label class="form-check-label" for="flexRadioDefault2">
    DAQ
  </label>
</div>
<div class="form-check">
  <input
    class="form-check-input"
    type="radio"
    name="flexRadioDefault"
    id="input-type-file"
    onclick="onFileSelect()"
  />
  <label class="form-check-label" for="flexRadioDefault1">
    File
  </label>
</div>
  <select
    id="daq-select"
    class="form-select"
    aria-label="Default select example"
    style='display:inline'
  >
  </select>
  <select
    id="file-select"
    class="form-select"
    aria-label="Default select example"
    style='display:none'
    onchange="onFileChange()"
  >
  </select>
</div>