<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ACE</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Perspective
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="../pages/quickCollect.html"
                >Quick Collect</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="../pages/patternRecognition/patternRecognition.html"
                >Pattern Recognition</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
