<!-- Toast Component-->
<!-- Author: Evan Larkin-->
<!-- Date: February 2021-->
<!-- Usage Notes: Loaded into each page, used for error messages-->
<script type="text/javascript">
  function showToast(text) {
    $("#toast-text").html(text);
    $(".toast").toast("show");
  }
</script>

<div
  class="toast"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  style="position: absolute; top: 0; right: 0"
>
  <div class="toast-header">
    <div style="display: flex; justify-content: space-between; width: 100%">
      <strong class="mr-auto" style="color: red">Error</strong>
      <small class="text-muted"></small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <div class="toast-body" id="toast-text"></div>
</div>
