<style>
  .settingsContainer {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
  }
</style>
<script type="text/javascript">
  $("#action-duration").val(collectionConfig.duration);
  $("#action-duration").change((e) => {
    collectionConfig.duration = e.target.value;
  });

  $("#action-delay").val(collectionConfig.delay);
  $("#action-delay").change((e) => {
    collectionConfig.delay = e.target.value;
  });

  $("#action-trials").val(collectionConfig.trials);
  $("#action-trials").change((e) => {
    collectionConfig.trials = e.target.value;
  });
</script>

<div class="collectionSettingsContainer">
  <div class="settingsContainer">
    <div style="flex: 1">Duration(s)</div>
    <div style="flex: 1">
      <input
        type="number"
        class="form-control form-control-sm"
        id="action-duration"
        aria-describedby="actionStatus"
        min="1"
      />
    </div>
  </div>
  <div class="settingsContainer">
    <div style="flex: 1">Delay(s)</div>
    <div style="flex: 1">
      <input
        type="number"
        class="form-control form-control-sm"
        id="action-delay"
        value="5"
        aria-describedby="actionStatus"
        min="1"
      />
    </div>
  </div>
  <div class="settingsContainer">
    <div style="flex: 1">Trials</div>
    <div style="flex: 1">
      <input
        type="number"
        class="form-control form-control-sm"
        id="action-trials"
        aria-describedby="actionStatus"
        min="1"
      />
    </div>
  </div>
</div>
