<style>
  .settingsContainer {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
  }
</style>

<div class="collectionSettingsContainer">
  <div class="settingsContainer">
    <div style="flex: 1">Duration(s)</div>
    <div style="flex: 1">
      <input
        type="number"
        class="form-control form-control-sm"
        id="action-status"
        aria-describedby="actionStatus"
      />
    </div>
  </div>
  <div class="settingsContainer">
    <div style="flex: 1">Delay(s)</div>
    <div style="flex: 1">
      <input
        type="number"
        class="form-control form-control-sm"
        id="action-status"
        aria-describedby="actionStatus"
      />
    </div>
  </div>
  <div class="settingsContainer">
    <div style="flex: 1">Trials</div>
    <div style="flex: 1">
      <input
        type="number"
        class="form-control form-control-sm"
        id="action-status"
        aria-describedby="actionStatus"
      />
    </div>
  </div>
</div>
