<script type="text/javascript">
  var currentTrial = 0,
    currentAction = 0,
    currentRep = 0,
    i = 0;
  var chartdata = [];
  var actiondata = [];
  var labels = [];
  var featuredata = [];
  var FRAME_SIZE = 100;
  var FRAME_SIZE_LIVE = 1;
  ctx = document.getElementById("liveChart");
  var myLineChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: new Array(500).fill(0),
      datasets: [
        {
          data: chartdata,
          pointRadius: 0,
          borderWidth: 1,
          borderColor: "black",
          fill: false,
        },
      ],
    },
    options: {
      animation: {
        duration: 0, // general animation time
      },
      elements: {
        line: {
          tension: 0, // disables bezier curves
        },
      },
      hover: {
        animationDuration: 0, // duration of animations when hovering an item
      },
      legend: {
        display: false,
      },
      tooltip: {
        enabled: false,
      },
      layout: {
        padding: {
          left: 0,
          right: 10,
          top: 50,
          bottom: 0,
        },
      },
      responsiveAnimationDuration: 0, // animation duration after a resize
      scales: {
        xAxes: [
          {
            display: false,
          },
        ],
        yAxes: [
          {
            display: true,
            scaleLabel: {
              display: true,
            },
            ticks: {
              suggestedMin: -0.08,
              suggestedMax: 0.08,
            },
          },
        ],
      },
    },
  });

  function onStart(collect) {
    console.log("COLLECT", collect, currentTrial);
    // This function is an accurate interval function
    function AdjustingInterval(workFunc, interval, errorFunc) {
      var that = this;
      var expected, timeout;
      this.interval = interval;

      this.start = function () {
        expected = Date.now() + this.interval;
        timeout = setTimeout(step, this.interval);
      };

      this.stop = function () {
        clearTimeout(timeout);
      };

      function step() {
        var drift = Date.now() - expected;
        if (drift > that.interval) {
          // You could have some default stuff here too...
          if (errorFunc) errorFunc();
        }
        workFunc();
        expected += that.interval;
        timeout = setTimeout(step, Math.max(0, that.interval - drift));
      }
    }

    var ticker = null;
    $("#stopBtn").click(function () {
      if (ticker != null) {
        ticker.stop();
      }
    });
    var currentIteration = 0,
      frame = 0;
    const featureFrame = ($("#time-step").val() * 1000) / FRAME_SIZE;

    const ipcRenderer = require("electron").ipcRenderer;
    const countdownTimerms = 3000;
    const delayms = collectionConfig.delay * 1000;
    const durationms = collectionConfig.duration * 1000;
    const iterationLength = durationms / FRAME_SIZE; //How many iterations do we collect each action
    var done = false,
      collectionComplete = false;
    let start = Date.now();
    function doWork(trial, action, rep) {
      if (!done) {
        // Is In delay
        if (Date.now() - start < countdownTimerms) {
          const progressToStart =
            ((Date.now() - start) / countdownTimerms) * 100;
          const untilStart = (countdownTimerms - (Date.now() - start)) / 1000;
          promptWindow.webContents.send("message", {
            text: "Waiting",
            progress: {
              progress: parseInt(progressToStart),
              text: `Starting in ${parseInt(untilStart) + 1}`,
            },
            image: collectionConfig.actions[action].key,
          });
        } else {
          if (currentIteration == iterationLength) {
            done = true;
            if (collect) appdata.trials[trial][action].reps.push(actiondata);
            currentIteration = 0;
            actiondata = [];
            ticker.stop();
          }
          const untilEnd =
            ((Date.now() - (start + countdownTimerms)) / durationms) * 100;

          promptWindow.webContents.send("message", {
            text: "Recording",
            progress: {
              progress: parseInt(untilEnd),
              text: `Recording`,
            },
          });
          const reader = $("#input-select").val();
          fetch(`http://127.0.0.1:5000/read/${reader}`)
            .then((response) => response.json())
            .then((result) => {
              console.log("I", i);
              console.log("Chart Data", chartdata);
              if (chartdata.length > 1000) {
                chartdata.splice(0, FRAME_SIZE);
                labels.splice(0, FRAME_SIZE);
              }
              //Feature
              if (frame % featureFrame == 0) {
                onNewFeatureData(featuredata);
                featuredata = [];
              }

              result.map((dataPoint) => {
                labels.push(i);
                chartdata.push({ x: i, y: dataPoint });
                actiondata.push({ x: i, y: dataPoint });
                featuredata.push(dataPoint);
                i++;
              });

              //csvdata = csvdata.concat(newData);
              myLineChart.data.datasets[0].data = chartdata;
              myLineChart.data.labels = labels;
              myLineChart.update();
              i++;
              currentIteration++;
              frame++;
            });
        }
      }
    }

    // START COLLECTION
    if (collectionConfig.actions.length > 0) {
      //Init
      var repCount = collectionConfig.actions[currentAction].reps;
      var trialCount = collectionConfig.trials;
      if (collect) {
        appdata.trials.push([]);
        appdata.trials[currentTrial].push({
          name: collectionConfig.actions[0].name,
          reps: [],
        });
      }

      ticker = new AdjustingInterval(
        () => doWork(currentTrial, currentAction, currentRep),
        FRAME_SIZE
      );
      ticker.start();
      function checkFlag() {
        if (done == false) {
          setTimeout(checkFlag, FRAME_SIZE);
        } else {
          setStatus(collectionConfig.actions[currentAction].key, true, 0);
          console.log(currentRep, currentAction, currentTrial);
          currentRep++;
          if (currentRep % repCount == 0 && currentRep != 0) {
            currentRep = 0;
            currentAction++;
            if (
              currentAction % collectionConfig.actions.length == 0 &&
              currentAction != 0
            ) {
              currentAction = 0;
              currentTrial++;
              if (currentTrial % trialCount == 0 && currentTrial != 0) {
                collectionComplete = true;
                ticker.stop();
              } else {
                if (collect) {
                  appdata.trials.push([]);
                  appdata.trials[currentTrial].push({
                    name: collectionConfig.actions[0].name,
                    reps: [],
                  });
                }
                repCount = collectionConfig.actions[0].reps;
              }
            } else {
              if (collect)
                appdata.trials[currentTrial].push({
                  name: collectionConfig.actions[currentAction].name,
                  reps: [],
                });
              repCount = collectionConfig.actions[currentAction].reps;
            }
          } else {
            //currentRep++;
          }

          if (!collectionComplete) {
            ticker.stop();
            start = Date.now();
            done = false;
            ticker = new AdjustingInterval(
              () => doWork(currentTrial, currentAction, currentRep),
              FRAME_SIZE
            );
            console.log("Data", appdata);
            ticker.start();
            setTimeout(checkFlag, FRAME_SIZE);
          } else {
            // DONE
            console.log(appdata);
            // Reset indexes if data not recorded
            if (!collect) {
              (currentTrial = 0),
                (currentAction = 0),
                (currentRep = 0),
                (currentIteration = 0),
                (frame = 0);
            }
            promptWindow.webContents.send("message", {
              text: "Done",
              progress: {
                progress: parseInt(100),
                text: `Done`,
              },
            });
          }
        }
      }
      checkFlag();
    } else {
      console.log("error, select an action");
      showToast("No actions selected");
    }
  }
</script>
<!--end polot-->

<canvas id="liveChart"></canvas>
