<script src="../../../frontend/javascript/plotdata.js"></script>
<!--<script src="../../../frontend/javascript/csvToArray.js"></script>-->
<script type="text/javascript"charset="utf-8">




/*


  fs.createReadStream('../../../../ACEPython/backend/data/emg1KT60.csv')
  .pipe(csv())
  .on('data', (data) => results.push(Object.values(data)[0]))
  .on('end', () => {
    console.log(results);
    samplesizes.push(results.length);
    console.log("size is"+samplesizes[0]);

  });
*/
</script>
<style>
    .hideCanvas{
        display:none !important;
    }
    .showCanvas{
        display:block !important;
    }
</style>
<canvas id="chartReview1" class="showCanvas"></canvas>
<canvas id="chartReview2" class="showCanvas"></canvas>

